#services
{
    position: relative;
    top: 40px;
    left: 0px;
    width: 1200px;
    margin: 0px auto;
}

.container
{
    display: flex;
    flex-wrap: wrap;
}

.box
{
    flex: 22%;
    border: 1px solid #9acd32;
    margin: 10px;
    padding: 15px;
    text-align: left;
}

.box img
{
    width: 24px;
    height: 24px;
    margin-bottom: 10px;
}

.box h3
{
    color: #c62828;
    margin-bottom: 10px;
}

.box p
{
    color: #555;
    font-size: 14px;
    line-height: 20px;
}
